
.app{
    display:grid;
    grid-template-rows: 10vh 90vh;
    background-image: url("/src/ui/icons/fundoAppQuemSomos.svg");
    font-family: "Space Grotesk";
}
.navbar{
    grid-row:1/span 1;
    position:fixed;
    width: 100%;
    display: flex;
}
.navlogo{
    grid-column: 1/span 1;
    content:url("/src/ui/icons/codra-icon-dark.svg");
    width:10vw;
}
.navButton{
    display:flex;
    justify-content: flex-end;    
    position: absolute;
    right: 0;
}
.login{
    border-radius: 15px;
    border-color: #F9EFFB;
}
.signup{
    border-radius: 15px;
    background-color: #AD56C7;
    border-color: #F9EFFB;
}
.a{
    grid-row:2/span 1;
    grid-column:2/span 1;
    margin-top: 10vh;
    margin-left:25vw;
    margin-right:25vw;
}
.welcomeText{
    color:#FFB44D;
}
.a > h1{
    color:#F9EFFB;
    font-weight: 700;
}
.textoArticle
{
    color:#FFFFFFB2;
    font-weight: 500;
}

.divCadastro{
    background-color: #BE5FDB;
    color: white;
    border-radius: 8px;
    gap:10px;
    padding: 16px;
    width: 49vw;
    font-weight: 400;
}
.butCadastro{
    background-color: white;
    color:#BE5FDB;
    width: 49vw;
    border-radius: 8px;
    border-style: none;
    font-family: inherit;

}