.app{
    /* Usa a altura mínima para que o fundo cubra toda a tela, mesmo com pouco conteúdo */
    min-height: 100vh;
    background-color: #151B23;
    background-image: url("/src/ui/icons/fundoAppQuemSomos.png");
    background-size: cover;
    background-position: bottom center;
    background-attachment: fixed; /* Adiciona o fixed para o fundo não rolar */
}
.login{
    height: 40px;
    width: 120px;
    border-radius: 12px;
    font-size: 17px;
    border: 0px; /* Adiciona uma borda para o botão */
    background-color: #FFB44D; /* Torna o botão transparente para combinar com a navbar */
    color: white;
}
.signup{
    height: 40px;
    width: 120px;
    border: 0px;
    border-radius: 12px;
    font-size: 17px;
    background-color: #AD56C7;
    color: white;
}
.a{
    /* Adiciona um padding-top para o artigo para que ele não fique debaixo da navbar */
    padding-top: 100px; /* Ajuste o valor conforme a altura da sua navbar */
    margin-left:25%;
    margin-right:25vw;
}
.welcomeText{
    color:#FFB44D;
}
.a > h1{
    color:#F9EFFB;
    font-weight: 700;
    font-size: 50px;
    margin: 0px;
}
.textoArticle
{
    color:#FFFFFFB2;
    font-weight: 500;
}

.divCadastro{
    background-color: #BE5FDB;
    color: white;
    border-radius: 8px;
    gap:10px;
    padding: 16px;
    width: 49vw;
    font-weight: 400;
    font-size: 20px;
    display: flex; /* Adiciona display: flex para alinhar os elementos internos */
    align-items: center;
    justify-content: space-between;
}
.butCadastro{
    background-color: white;
    color:#BE5FDB;
    width: 200px; /* Ajuste o tamanho do botão para não ocupar 100% da div */
    border-radius: 8px;
    border-style: none;
    font-family: inherit;
    font-size: 16px;
    height: 40px;
}