<h1>Olá, <%= @usuario.nome%></h1>

<p>
 Recebemos uma solicitação para redefinir a sua senha. Se você fez essa solicitação, copie o código abaixo para criar uma nova senha:

    <pre>👉 <%= @token%></pre>

    <p>Se você não solicitou a redefinição, pode ignorar este e-mail com segurança — sua senha atual continuará válida.

    Por segurança, este link é válido por apenas uma hora.

    Se precisar de ajuda, estamos à disposição.</p>

    <p>Atenciosamente,
    <b>Suporte Codra</b></p>
</p>


    