 .page  {
    --form-height-input: 6.6vh;/*TO DO:fazer mais parecido com o design no figma;*/
    --center-padding-left:10%;
     color:white;
     display:grid;
     grid-template-columns: 53vw 47vw;
     font-size:100%;
 }
 .page * {
     font-weight: 400;
     font-size: 2vh;
 }
 button:hover{
    cursor:pointer;/*--DIEGO:para que o mouse mude o seu icone, como se fosse um link, quando estiver em cima de um botao*/
 }
 .logo{
    background-Image:url("/src/ui/icons/codra-background-dark.svg");

     grid-column: 1;
     background-size: cover; /*--DIEGO:para que o svg de fundo cubra todo o espaco na esquerda*/
     display: flex;
     justify-content: center;
     align-items: center;    
     height:100vh;
 }
 .logoImage{
     content:url("/src/ui/icons/codra-icon-dark.svg");
     width:50vw;
     grid-column: 1/ span 1;
 }
 .center{
     grid-column: 2;
     text-align: left;
     padding-left: var(--center-padding-left);
     display: flex;
     flex-direction: column;
     align-content:center;
     justify-content:center;
 }
 .pageText{
     font-weight: 700;
     font-size: 5vh;
 }
 .form > label {
     display:grid;
     margin-bottom: 3%;
 }
 
 .input{ 
     border-color: "#bebebe";
     border-style: none;
     padding-left:5%;
     border-radius: 15px;
     color:#B6B8BB;
     background-color: #FFFFFF;
     width:85%;
     height: var(--form-height-input);
}
.ab{
    display: flex;
    align-items: center;
}
.passwordEye{    
    position: absolute;
    transform: translate(35vw,-3vh);
    width: 2%;
    height: auto;
}
 .formButton{ /*--DIEGO:TO DO:o firefox e o chrome renderizam essa pagina(especialmente o espaco entre .input e .formButton) de forma diferente. ver a opinião dos professores sobre isso e fazer o que eles recomendarem.*/
     background-color: #AD56C7;
     border-style: none;
     border-radius: 15px;
     width:90%;
     padding: 1.5%;
     text-align: center;
     color:white;
 }
 .link{
     color:#d39745;

     text-decoration: none;
 }
 .response{
    color: red;
 }
 @media screen and (orientation: portrait){ /*design temporario*/
    .page{
        grid-template-rows: 10vh 90vh;
    }
    .center{
        grid-row: 2/span 1;
    }

    .logo {
         visibility:hidden
         }
     .logoImage{
         visibility:visible;
         position: absolute;/*TO DO:HACK:para que a imagem sempre apareca, mesmo que o resto da coluna nao apareca. melhorar depois*/
         top:0;
         margin-left:var(--center-padding-left); /*--DIEGO:junto com o "top:0", é usado para que a imagem fique no canto superior esquerdo*/
         height: 20%;
     }
     .center{
         grid-column: 1/span 2;
     }

     .passwordEye{
        transform: translate(75vw,-3vh);
        width: 5vw;

     }
 
 }

 
 
 