.app{
    /* Usa a altura mínima para que o fundo cubra toda a tela, mesmo com pouco conteúdo */
}
.fundoImg{
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 99vw;
    min-height: 99vh; 
    z-index: -1; 
    object-fit: cover; 
}
.login{
    height: 40px;
    width: 120px;
    border-radius: 12px;
    font-size: 17px;
    border: 0px; /* Adiciona uma borda para o botão */
    background-color: #FFB44D; /* Torna o botão transparente para combinar com a navbar */
    color: white;
}
.signup{
    height: 40px;
    width: 120px;
    border: 0px;
    border-radius: 12px;
    font-size: 17px;
    background-color: #AD56C7;
    color: white;
}
.a{
    /* Adiciona um padding-top para o artigo para que ele não fique debaixo da navbar */
    padding-top: 100px; /* Ajuste o valor conforme a altura da sua navbar */
    margin-left:25%;
    margin-right:25vw;
}
.welcomeText{
    color:#FFB44D;
}
.titulo{
    color:#F9EFFB;
    font-weight: 700;
    font-size: 50px;
    margin: 0px;

    word-wrap: break-word;
}
.textoArticle
{
    color:#FFFFFFB2;
    font-weight: 500;
}

.divCadastro{
    overflow: hidden;
    justify-self: center;
    background-color: #151B23;
    color: white;
    border-radius: 8px;
    gap:10px;
    padding: 16px;
    width: 32vw;
    font-weight: 400;
    font-size: 20px;
    display: flex; /* Adiciona display: flex para alinhar os elementos internos */
    align-items: center;
    justify-content: space-between;
    border: 2px solid #4D555E;
}
.butCadastro{
    background-color: #4848B6;
    color:white;
    border-radius: 8px;
    border-style: none;
    font-family: inherit;
    font-size: 16px;
    height: 40px;
}

.fotos_integrantes{
    height: 150px;
    width: 150px;
    border-radius: 100px;
}
.quemSomosTitulo{
    padding-top: 2%;
    padding-bottom: 3%;
    color:#BE5FDB;
    font-size: 50px;
    justify-self: center;
    word-wrap: break-word;
}
.quemSomosFLEX{
    display: flex;
    width: 99vw;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 0.7%;
    
}
.integrante{
    border-radius: 5px;
    padding: 5px;
    color: white;
}

.flexFeatures{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    
}

.featureDiv{
    background-color: #151B23;
    color: white;
    padding: 16px;
    border-radius: 12px;
    border: 2px solid #4D555E;
    width: 360px;
    height: 140px;
    display: flex;
    align-items: flex-start;
    gap: 24px;
}

.featureIMG{
    height: 32px;
    width: 32px;
}

.tecnologias{
    width: 100px;
    
    
}
.tecnoDiv{
    display: flex;
    align-items: center;
}
@media screen and (max-width: 1080px) {
    /* Styles applied when the viewport width is 768px or less */
    .flexFeatures{
        display: flex;
        flex-wrap: wrap;
    }
    .featureDiv{
        height: auto;
        margin-bottom: 10%;
    }
    .featureIMG{
        width: 16px;
        height: auto;
    }
    .featureDiv > a{
        font-size: 50%;
        line-break: anywhere;
    }
  }
/*    width: 360px;
*/