.equipeDiv{
    background-color: #212a36 ;
    color: white;
    width: 500px;
    height: 200px;
    padding: 15px;
    border-radius: 10px;
    position: relative;
    transition: 0.25s;
    border: 1px solid #4D555E;
    
    
}

.equipeDiv:hover{
    cursor: pointer;
    background-color: #25303d;

}

.equipesDivCenter{
    width: 99vw;
    display: flex;
    justify-content: center;
    margin-left: 1%;
    margin-right: 1%;
}

.equipeFlex{
    display: flex;
    width: 90%;
    height: max-content;    
    gap: 16px;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
    background-color: #151B23;
  
    margin-bottom: 16px;
    
}

.botaoEditarEquipe{
    position: absolute;
    top: 5%;
    right: 3%;
    height: 30px;
    text-align: center;
    line-height: 25px;
    width: 30px;
    border-radius: 10px;
    background-color: inherit;
    transition: 0.25s;
}

.botaoEditarEquipe:hover{
    background-color: #2f3b4d;
}

.tituloPagina{
    color: #BE5FDB;
}
.navEquipes{
    grid-row: span 2;
    background-color: #151B23;
    border-right: 1px solid rgba(255, 255, 255, 0.048);
}
.paginaEquipes{
    display: grid;
    min-height: 90vh;
    grid-template-rows: 15vh minmax(78vh, auto);
    overflow-x: hidden;
}

.hr1{
    width: 90%;
    
}

.tituloFlex{
    display:flex;
    justify-content: center;
}

.bttCriarEquipe {
     position: fixed;
    border-radius: 25px;
    background-color: purple;
    height: 100px;
    width: 100px;
    bottom: 7%;
    right: 5%;
    z-index: 9;
    transition: 0.25s;

}
.bttCriarEquipe:hover{
    cursor:pointer;
    scale:105%;
}

.imgEditarProj{
    height: 100%;
    width: 100%;
}

.modalConteudo{
    top: calc(15% - 15px);
    left: calc(35% - 15px);
    position: relative;
    background-color: #151B23;
    min-width: 300px;
    min-height: 300px;
    width: 30%;
    padding: 30px;
    color: white;
    border-radius: 20px;
    scrollbar-width: none;

}

.btnFechaModal{
    background-color: transparent;
    color: white;
    width: 25px;
    height: 25px;
    border: 0px;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 5px;
    line-height: 25px;
    text-align: center;
}

.semEquipe{
    position: absolute;
    left: 50%;
    top: 50%;
    color: white;
}

.descEquipe{
    color:white;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
    overflow-wrap: break-word;

    &:not([teste=true]){
        padding-top: 8px;
        border-top: 1px solid rgba(255, 255, 255, 0.048);
    }
}

.tituloEquipe{
    color:#BE5FDB;
    font-size: 20px;
    max-width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #212a36;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #333f52;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #42536b;
}
@media screen and (orientation: portrait) {
    .paginaEquipes{
        grid-template-columns: 100vw;
    }
    .navEquipes{
        display: none;
    }
    .semEquipe{
        align-self: center;
        
        position: inherit;

        text-align: center;
        
    }
    .equipeFlex{
        justify-content: center;
    }
    .equipesDivCenter{
        width: 100vw;
    }
    .equipeDiv{
        width: 60%;
    }
    .modalConteudo{
        left: 0;
        width:100vw;
    }
}