.corpo * {
    color: white;
}

.equipeDiv{
    background-color: #212a36 ;
    color: white;
    width: 30%;
    height: 200px;
    padding: 15px;
    border-radius: 10px;
    position: relative;
    transition: 0.25s;
    border: 1px solid #4D555E;
}



.equipeFlex{
    display: flex;
    width: 100%;
    height: max-content;
    gap: 16px;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    background-color: #151B23;
    margin-left: 16px;
}

.botaoEditarEquipe{
    position: absolute;
    top: 5%;
    right: 3%;
    height: 30px;
    text-align: center;
    line-height: 25px;
    width: 30px;
    border-radius: 10px;
    background-color: inherit;
    transition: 0.25s;
}

.botaoEditarEquipe:hover{
    background-color: #2f3b4d;
}
.tituloPagina{
    color: #BE5FDB;
    
    overflow-wrap: break-word;
    overflow: hidden;
    overflow-y: auto;

    text-align: center;
}
.navEquipes{
    grid-row: span 2;
    background-color: #151B23;
    border-right: 1px solid rgba(255, 255, 255, 0.048);
    padding: 24px;
}
.paginaEquipes{
    display: grid;
    min-height: 90vh;
    grid-template-columns: 20vw 79vw;
    grid-template-rows: 15vh auto;
    

    
}

.hr1{
    width: 90%;
   
}

.tituloFlex{
    display:flex;
    justify-content: center;
    max-height: 15vh;
}


.bttCriarEquipe:hover{
    cursor:pointer;
    scale:105%;
}

.imgEditarProj{
    height: 100%;
    width: 100%;
}


.idDesc{
    color: #ffffff56;
    margin-left: 5px;
}




.statusDescTask{
    width: 75vw;
    display: flex;
    height: max-content;
    margin-left: 5%;
    align-items: baseline;
    overflow-wrap: break-word;
    word-wrap: break-word;
    line-break:auto;
    margin-bottom: 15px;
}

.statusTask{
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 5px;
    justify-self: center;
    
}
.statusDiv {
    font-weight: 600;
    height: max-content;
    width: max-content;
    padding: 5px;
    border-radius: 16px;
    border: 1px solid #4D555E;
}

.descTask{
    color: #ffffff83;
    padding: 5px;
    overflow-wrap: break-word;
    margin-right: 10%;
}
.datasDaTask{
    color:white;
    display: flex;
    gap: 16px;
    justify-content: center;
    width: 100%;
}

.criacaoTask{
background-color: #6666c262;
padding: 5px;
border: 1px solid #4D555E;
border-radius: 8px;
}
.atlzTask{
background-color: #6666c262;
padding: 5px;
border: 1px solid #4D555E;
border-radius: 8px;
}
.commitTask{
    border: 1px solid rgba(255, 255, 255, 0.123);
    background-color: #212A36;
    border-radius: 10px;
    height: 130px;
    width: 30%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    
    
}

.divCommits{
    
    width: 90%;
    display: flex;
    gap: 10px;
    height: max-content;
    flex-wrap: wrap;
    color: white;
}
.linkTask{
    background-color: #212a36;
    height: 50px;
    width: 100%;
    overflow: hidden;
}
.divArquivos{
    height: max-content;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.tableArquivos{
    width: 80%;
    color: white;
    background-color: #212A36;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.userDataTask{
    padding-top: 5px;
    border-top: 1px solid rgba(255, 255, 255, 0.123);
    align-self:baseline;
    color: #ffffff9d;
}
.msgTask{
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    overflow-wrap: break-word;
}
.tituloCommit{
    display: inline;
}
.corDoCoiso{
    color: #6666C2 ;
}

.divDaDivCommits{
    margin-top: 30px;
    width: 79vw;
    display: flex;
    justify-content: center;
}
.linklink{
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 50px;
    color: white;
}
.linklinklink{
    margin-left: 7px;
    

}
.linklink:hover{
    background-color: #25303d;
}

.tableCabeca{
    background-color: #212A36;
    height: 60px;
    font-size: 20px;
    color: #E8A446;
    display: flex;
    align-items: center;   
    justify-content: center;
}
.fileIMG{
    height: 30px;
    width: 30px;
    margin-left: 7px;
}

.divRetorno{
    
}
@media screen and (orientation: portrait) {
    .paginaEquipes{
        grid-template-columns: 100vw;
    }
    .navEquipes{
        display: none;
    }
    .datasDaTask{
        gap:0px;
    }
    .tituloFlex{
        width:100vw;
        
    }
}

.descEquipe {
    color: white;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    overflow-wrap: break-word;


}

.descEquipe summary {
    list-style: none;
    cursor: pointer;
    display: flex;
    /* para alinhar imagem + texto */
    align-items: center;
    gap: 8px;
}

.descEquipe summary::-webkit-details-marker {
  display: none;
}

.descEquipe summary .icon {
  width: 20px;   /* ajuste o tamanho do PNG */
  height: 20px;
  transition: transform 0.3s ease;
  transform: rotate(-90deg);
}

.ilustIcon{
    height: 25px;
    width: 25px;
}
.ilustIcon2{
    height: 18px;
    width: 18px;
    margin-right: 5px;
    margin-left: 3px;
}

/* gira o ícone quando abre */
.descEquipe[open] summary .icon {
  transform: rotate(0deg);
}

.descEquipe2{
    display: flex;
    align-items: center;
    margin-top: 5px;
}
.descConteudo{
    color: #B6B8BB;
    margin-left: 50px;
    margin-top: 10px;
}

.descEquipe .descConteudo {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.8s ease, opacity 0.3s ease;
}
.descConteudo[membros="true"]{ /*quando o atributo "membros" tiver o valor "true", executa*/
    margin-left: 60px;
}
.descEquipe[open] .descConteudo {
    max-height: 1000px;
    /* grande o suficiente para conter o conteúdo */
    opacity: 1;
}


.descEquipe:hover {
    cursor: pointer;
}

.tutorial{
    justify-self: center;
    color: #ffffff56;
    
}

.tutoriel{
    border: 2px solid rgba(255, 255, 255, 0.123);
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 50%;
}
.tititirial{
    text-decoration: none;
}

input[type="file"] {
  display: none;
}

.fileUpload{
    color: #653408;
    border: 1px solid rgba(36, 31, 31, 0.123);
    border-radius: 8px;
    background-color: #FFB44C;
    padding: 5px;
  display: inline-block;
  
  cursor: pointer;
}

.responsee{
color: #b6b8bb73
}

.editarPag{
    position: absolute;
    right: 1%;
    top: 10%;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
}

.divTititulo{
    position: relative;
}