





.center * {
   font-family:'Space Grotesk', cursive; /*cursive é a fallback caso nao exista fonte na url anterior.*/
   font-weight: 700;
}
.center{
  background-color: #151b23;
  margin-left: 5%;
  margin-right: 20%;
}
.tituloNovoProjeto{
   color:#BE5FDB;
   text-align: left;
  
}
.form{
   display: grid;
   background-color: #212A36;

   padding-left: 3%;
   padding-right: 3%;

   border:1px;
   border-radius: 16px;
   justify-content: flex-start;
}

.input{
   font-weight: 400;
   background-color: #151B23;
   color:#B6B8BB;
   border-style: none;
   border-radius: 16px;
   padding:10%;
   width: 100%;
   margin-bottom: 6.66vh;

}
.formButton{
   background-color:#4848B6;
   border-color: #4848B6;
   border-radius:15px;
   border-style: none;
   border-radius: 15px;
   width:90%;
   padding: 1.5%;
}


/*#4D555E*/


