

@font-face {
    font-family: 'Space Grotesk';
    src: url(src/ui/fonts/SpaceGrotesk-VariableFont_wght.ttf);
  }
body{
   background-color:#161b23;
   --form-height-input: 6.25vh;
}
a:hover, button:hover{
    cursor:pointer;
}
.login  {
    display:grid;
    grid-template-columns: 53% 47%;
    grid-template-rows: 20vh 60vh 20vh;
    color:white;
    /*padding: 50%;*/
    font-size:100%;
}
.logo{
    grid-column: 1;
    grid-row: 1/ span 3;
    background-size: cover;
    background-Image:url("src/ui/icons/codra-background-dark.svg"); /*TO DO:temporario, substituir pelo svg feito pela maju. A exportação do Figma produz um svg totalmente diferente*/
    display: flex;
    justify-content: center;
    align-items: center;    
}
.logoImage{
    grid-row: 2/ span 1;
    width:50vw;
    grid-column: 1/ span 1;
   
}
.login * {
    font-family:'Space Grotesk', cursive; /*cursive é a fallback caso nao exista fonte na url abaixo.*/
    font-weight: 400;
    font-size: 2vh;
}
.center{
    grid-column: 2;
    grid-row: 2/ span 1;
    text-align: left;
    padding-left: 10%;
}
.loginText{
    font-weight: 700;
    font-size: 5vh;
}
.form > label {
    display:grid;
    margin-bottom: 3.33vh;
    line-height: 200%;
}
.inputEmail, .inputPassword{
    padding-left:5%;
    height:var(--form-height-input);     
    border-radius: 15px;
    border:2px;
    border-color: "#bebebe";
    color:#B6B8BB;
    background-color: #FFFFFF;
    width:85%;
}
.formButton{
    background-color: #AD56C7;
    border-radius: 15px;
    border:0px;
    width:90%;
    height:var(--form-height-input);     
    text-align: center;
    color:white;
   
}
.SignUpForgot{
    text-align: center;
}
.linkSignUp, .linkForgotPassword{
    color:#d39745;
    text-decoration: none;
}





